<h1>spaces go here</h1>
<form action="/spaces/new" method="post">
  <label for="name">Name</label>
  <input type='text' name='name'>

  <label for="description">Description</label>
  <input type='text' name='description'>

  <label for="price">Price</label>
  <input type='text' name='price'>
  <input type='submit' value='add space'>
</form>
