<ul id='booking'>
  <% Booking.reverse_each do |booking| %>
    <li>
      Booking id: <%= booking.id %>
      <br>
      Booking user name: <%= booking.user.firstname %>
      <br>
      Booking space name: <%= booking.space.name %>
      <br>
      Booking confirmed? <%= booking.confirmed %>
    </li>

  <% end %>
</ul>
