<form action="/users" method="post">
  first name   <input type="text" name="firstname">
  last name    <input type="text" name="lastname">
  email        <input type="text" name="email">
  password     <input type="password" name="password">
               <input type="submit" value="Submit">
</form>
