<div class="container">
  <div class="row">
    <div class="title-content col-xs-12 text-center">
      <div>
        <h1 class="home-title vcenter">Welcome to Thug Mansions</h1>
        <h3 class="thin-text">Book the place of your dreams</h3>
      </div>
    </div>
  </div>
</div>
