<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% if @current_user %>
    <h2>Hello <%= @current_user.firstname %>!</h2>
    <form action="/sessions" method="post">
      <input type='hidden' name='_method' value='delete'>
      <button type="submit">Sign out</button>
    </form>
    
    <% else %>
    <h2>Hello Guest!</h2>
    <form action="/sign-in" method="get">
      <button type="submit">Sign in</button>
    </form>
    <form action="/sign-up" method="get">
      <button type="submit">Sign up</button>
    </form>
    <% end %>

    <form action="/spaces" method="get">
      <button type="submit">View spaces</button>
    </form>

  </body>
</html>
