<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
    <title>Makers BnB</title>
  </head>

  <body>
  <%= partial :flash %>

  <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header col-sm-8">
          <h1 id="main-header" ><a href="/">Thug Man<span class="glyphicon glyphicon-usd"></span>ion<span class="glyphicon glyphicon-usd"></span></a></h1>
        </div>
        <div class="nav navbar-nav col-sm-4">
          <% if @current_user %>
            <ul class="list-inline pull-right">
              <li class="btn btn-li btn-md"><a href="/spaces">Spaces</a></li>
              <li class="btn btn-li btn-md"><a href="/requests">Requests</a></li>
              <li><form action="/sessions" method="post">
                <input type='hidden' name='_method' value='delete'>
                <button class="btn btn-md" type="submit">Sign out</button>
              </form></li>
            </ul>
          <% else %>
            <ul class="list-inline pull-right">
              <li class="btn btn-li btn-md"><a href="#">About</a></li>
              <li class="btn btn-li btn-md"><a href="/sign-in">Login</a></li>
              <li>
                <form action="/sign-up" method="get">
                  <button class="btn btn-md" type="submit">Sign up</button>
                </form>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <div class="fullscreen-bg" id="background">
      <video loop muted autoplay class="fullscreen-bg__video">
          <source src="assets/background-video.mp4" type="video/mp4">
      </video>
  </div>

  <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
